workflows/superlikers_flujo_completo.json
{
  "name": "JUTILABS · Reto SL · Flujo Completo",
  "nodes": [
    {
      "parameters": {
        "path": "superlikers-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "309a2517-232b-4c6c-8163-f27c273042c0",
      "name": "Webhook Verify (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        19600,
        4672
      ],
      "webhookId": "16660098-bb18-4844-900a-93972eeb905a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "31638b60-7756-4d21-af47-c0cc8182ef82",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "={{ $env.WHATSAPP_VERIFY_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "37d48a5d-4ad1-4e25-9ca2-c8ff741c73b6",
      "name": "Token Correcto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        19824,
        4672
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook Verify (GET)').item.json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "e68298c8-c122-4313-aa9a-8ac91bf06246",
      "name": "Responder Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        20048,
        4576
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "id": "771f3723-e936-4a64-b8c1-3e62ac99bb10",
      "name": "Rechazar GET 403",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        20048,
        4768
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "superlikers-whatsapp",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "847616aa-23f7-4c4b-aae9-6a7a630a9313",
      "name": "Webhook Recibe (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        19600,
        5184
      ],
      "webhookId": "8ee1b78b-5f59-43f0-903d-3cb68d54911c"
    },
    {
      "parameters": {
        "jsCode": "// HMAC-SHA256 en JS puro (n8n task runner: sin require ni crypto global; solo Buffer).\nfunction sha256Bytes(bytes) {\n  const K = [0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const msg = bytes.slice();\n  const origLenBits = msg.length * 8;\n  msg.push(0x80);\n  while (msg.length % 64 !== 56) msg.push(0x00);\n  const hi = Math.floor(origLenBits / 0x100000000);\n  const lo = origLenBits >>> 0;\n  msg.push((hi>>>24)&0xff,(hi>>>16)&0xff,(hi>>>8)&0xff,hi&0xff);\n  msg.push((lo>>>24)&0xff,(lo>>>16)&0xff,(lo>>>8)&0xff,lo&0xff);\n  function rotr(x,n){ return (x>>>n)|(x<<(32-n)); }\n  for (let i=0;i<msg.length;i+=64){\n    const w=new Array(64);\n    for(let t=0;t<16;t++){ w[t]=((msg[i+t*4]<<24)|(msg[i+t*4+1]<<16)|(msg[i+t*4+2]<<8)|(msg[i+t*4+3]))>>>0; }\n    for(let t=16;t<64;t++){\n      const s0=rotr(w[t-15],7)^rotr(w[t-15],18)^(w[t-15]>>>3);\n      const s1=rotr(w[t-2],17)^rotr(w[t-2],19)^(w[t-2]>>>10);\n      w[t]=(w[t-16]+s0+w[t-7]+s1)>>>0;\n    }\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let t=0;t<64;t++){\n      const S1=rotr(e,6)^rotr(e,11)^rotr(e,25);\n      const ch=(e&f)^((~e)&g);\n      const temp1=(h+S1+ch+K[t]+w[t])>>>0;\n      const S0=rotr(a,2)^rotr(a,13)^rotr(a,22);\n      const maj=(a&b)^(a&c)^(b&c);\n      const temp2=(S0+maj)>>>0;\n      h=g;g=f;f=e;e=(d+temp1)>>>0;d=c;c=b;b=a;a=(temp1+temp2)>>>0;\n    }\n    h0=(h0+a)>>>0;h1=(h1+b)>>>0;h2=(h2+c)>>>0;h3=(h3+d)>>>0;h4=(h4+e)>>>0;h5=(h5+f)>>>0;h6=(h6+g)>>>0;h7=(h7+h)>>>0;\n  }\n  const hs=[h0,h1,h2,h3,h4,h5,h6,h7]; const out=[];\n  for(const x of hs){ out.push((x>>>24)&0xff,(x>>>16)&0xff,(x>>>8)&0xff,x&0xff); }\n  return out;\n}\nfunction hmacSha256Hex(keyStr, msgStr){\n  const block=64;\n  let key=Array.from(Buffer.from(keyStr,'utf8'));\n  if(key.length>block) key=sha256Bytes(key);\n  if(key.length<block) key=key.concat(new Array(block-key.length).fill(0));\n  const ipad=key.map(function(b){return b^0x36;});\n  const opad=key.map(function(b){return b^0x5c;});\n  const msg=Array.from(Buffer.from(msgStr,'utf8'));\n  const inner=sha256Bytes(ipad.concat(msg));\n  const outer=sha256Bytes(opad.concat(inner));\n  return outer.map(function(b){return b.toString(16).padStart(2,'0');}).join('');\n}\n\nconst item = $input.first();\n\n// 1) Body crudo\nlet raw = '';\nif (item.binary && item.binary.data && item.binary.data.data) {\n  raw = Buffer.from(item.binary.data.data, 'base64').toString('utf8');\n} else if (typeof item.json.body === 'string') {\n  raw = item.json.body;\n} else if (item.json.body) {\n  raw = JSON.stringify(item.json.body);\n}\n\nconst headers = item.json.headers || {};\nconst header_sig = headers['x-hub-signature-256'] || '';\nconst appSecret = $env.WHATSAPP_APP_SECRET || '';\n\n// 2) Firma\nconst computed_signature = hmacSha256Hex(appSecret, raw);\nconst valid = header_sig.length > 0 && ('sha256=' + computed_signature) === header_sig;\n\n// 3) Parsear payload\nlet payload = {};\ntry { payload = JSON.parse(raw); } catch(e) { payload = (typeof item.json.body === 'object' ? item.json.body : {}); }\nconst change = (((payload.entry || [])[0] || {}).changes || [])[0] || {};\nconst value = change.value || {};\nconst msg = (value.messages || [])[0] || null;\nconst is_message = !!msg;\nconst from = msg ? (msg.from || '') : '';\nconst phone_number_id = (value.metadata || {}).phone_number_id || '';\n\n// 4) Enriquecer: tipo, texto, interactive (boton/lista), imagen\nlet msg_type = msg ? (msg.type || '') : '';\nlet text = '';\nlet interactive_id = '';\nlet interactive_title = '';\nlet image_id = '';\nlet msg_text = '';\nif (msg) {\n  if (msg.type === 'text') { text = (msg.text || {}).body || ''; msg_text = text; }\n  else if (msg.type === 'interactive') {\n    const it = msg.interactive || {};\n    if (it.type === 'button_reply') { interactive_id = (it.button_reply || {}).id || ''; interactive_title = (it.button_reply || {}).title || ''; }\n    else if (it.type === 'list_reply') { interactive_id = (it.list_reply || {}).id || ''; interactive_title = (it.list_reply || {}).title || ''; }\n    msg_text = interactive_title || interactive_id;\n  }\n  else if (msg.type === 'image') { image_id = (msg.image || {}).id || ''; msg_text = '[imagen]'; }\n  else { msg_text = '[' + (msg.type || 'desconocido') + ']'; }\n}\n\nreturn [{ json: { valid, computed_signature, header_sig, is_message, from, phone_number_id, msg_type, text, interactive_id, interactive_title, image_id, msg_text, message_id: msg ? (msg.id || '') : '' } }];\n"
      },
      "id": "e46d45e1-ce7b-4ab4-ac70-f47a4ce629af",
      "name": "Validar y Parsear",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19824,
        5184
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2660ea04-7c74-460e-a442-e914a10d85ef",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "93c92f64-3849-4448-959f-a300a3fd2bd5",
      "name": "Firma Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20048,
        5184
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc4c9875-55e1-4fc4-816e-94b84efa748f",
              "leftValue": "={{ $json.is_message }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "887a42de-9521-4bf1-aa55-afe9fa52c9a8",
      "name": "Es Mensaje?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20272,
        5088
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "EVENT_RECEIVED",
        "options": {
          "responseCode": 200
        }
      },
      "id": "bf491e73-484b-474b-9664-54c6ae1d4cfa",
      "name": "Responder 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        20496,
        4992
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "EVENT_RECEIVED",
        "options": {
          "responseCode": 200
        }
      },
      "id": "8d04df48-daa8-4a6c-8ffd-20fb5ec11b88",
      "name": "Ack 200 (estado)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        20496,
        5280
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "invalid signature",
        "options": {
          "responseCode": 403
        }
      },
      "id": "f99f7f86-b226-4ab7-8baf-c0ed8bdff42d",
      "name": "Rechazar Firma 403",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        20272,
        5424
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "={{ 'conversation_state' }}",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "={{ 'celular' }}",
              "condition": "eq",
              "keyValue": "={{ ($('Validar y Parsear').item.json.from || '').replace(/^57/, '') }}"
            }
          ]
        }
      },
      "id": "b0a417c5-227b-407d-87b2-7f0b990aac0d",
      "name": "Cargar Estado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        20784,
        4992
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mMeRwI2wAHHU1NtO",
          "name": "Superlikers"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CEREBRO DE LA MAQUINA DE ESTADOS. Tabla de transiciones en un solo lugar (versionable).\n// Lee: mensaje parseado (Validar y Parsear) + estado actual (Cargar Estado).\n// Decide: action (responder|buscar|registrar|foto), next_paso, patch (campos a persistir) y wa_payload.\nconst p = $('Validar y Parsear').item.json;\nconst row = ($json && $json.celular) ? $json : {};\nconst from = p.from || '';\nconst celular10 = from.replace(/^57/, '');\nconst hadRow = !!(row && row.celular);\nconst paso = hadRow ? (row.paso || 'inicio') : 'inicio';\nconst text = (p.text || '').trim();\nconst btn = p.interactive_id || '';\nconst type = p.msg_type || '';\n\nfunction txt(body){ return { messaging_product:'whatsapp', to: from, type:'text', text:{ body: body, preview_url:false } }; }\nfunction buttons(body, arr){ return { messaging_product:'whatsapp', to: from, type:'interactive', interactive:{ type:'button', body:{ text: body }, action:{ buttons: arr.map(function(b){ return { type:'reply', reply:{ id:b.id, title:b.title } }; }) } } }; }\nfunction listMsg(body, rows){ return { messaging_product:'whatsapp', to: from, type:'interactive', interactive:{ type:'list', body:{ text: body }, action:{ button:'Elegir', sections:[ { title:'Opciones', rows: rows } ] } } }; }\n\nconst OCU = [ {id:'ocupacion_1',title:'Ocupación 1'},{id:'ocupacion_2',title:'Ocupación 2'},{id:'ocupacion_3',title:'Ocupación 3'},{id:'ocupacion_4',title:'Ocupación 4'} ];\n\nlet out = { action:'responder', wa_to: from, wa_payload: null, next_paso: paso, patch: {}, celular: from, celular10: celular10, had_row: hadRow, search_query: null, search_by: null, image_id: '' };\n\nswitch (paso) {\n  case 'esperando_correo': {\n    const email = text.toLowerCase();\n    const ok = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n    if (!ok) { out.wa_payload = txt('Ese correo no parece válido. Escríbeme tu correo, por favor (ejemplo: nombre@correo.com).'); out.next_paso='esperando_correo'; out.patch={ paso:'esperando_correo' }; }\n    else { out.action='buscar'; out.search_by='email'; out.search_query={ email: email }; out.patch={ correo: email, distinct_id: email }; }\n    break;\n  }\n  case 'esperando_nombre': {\n    if (!text) { out.wa_payload = txt('Necesito tu nombre completo para continuar. Escríbelo, por favor.'); out.next_paso='esperando_nombre'; out.patch={ paso:'esperando_nombre' }; }\n    else { out.wa_payload = txt('Gracias. Ahora escríbeme tu número de cédula (solo números).'); out.next_paso='esperando_cedula'; out.patch={ nombre: text, paso:'esperando_cedula' }; }\n    break;\n  }\n  case 'esperando_cedula': {\n    const ced = text.replace(/\\D/g,'');\n    if (ced.length < 5) { out.wa_payload = txt('La cédula debe ser numérica. Escríbela de nuevo, por favor.'); out.next_paso='esperando_cedula'; out.patch={ paso:'esperando_cedula' }; }\n    else { out.wa_payload = listMsg('¿Cuál es tu ocupación? Elige una opción.', OCU); out.next_paso='esperando_ocupacion'; out.patch={ cedula: ced, paso:'esperando_ocupacion' }; }\n    break;\n  }\n  case 'esperando_ocupacion': {\n    if (['ocupacion_1','ocupacion_2','ocupacion_3','ocupacion_4'].indexOf(btn) === -1) { out.wa_payload = listMsg('Elige tu ocupación de la lista, por favor.', OCU); out.next_paso='esperando_ocupacion'; out.patch={ paso:'esperando_ocupacion' }; }\n    else {\n      const resumen = 'Confirmemos tus datos:\\n\\n' + 'Nombre: ' + (row.nombre||'') + '\\n' + 'Cédula: ' + (row.cedula||'') + '\\n' + 'Correo: ' + (row.correo||'') + '\\n' + 'Celular: ' + celular10 + '\\n\\n¿Es correcto?';\n      out.wa_payload = buttons(resumen, [ {id:'confirmar_si',title:'Sí, registrar'}, {id:'confirmar_no',title:'No, corregir'} ]);\n      out.next_paso='esperando_confirmacion';\n      out.patch={ ocupacion: btn, tags: ['grupo_1'], paso:'esperando_confirmacion' };\n    }\n    break;\n  }\n  case 'esperando_confirmacion': {\n    if (btn === 'confirmar_si') { out.action='registrar'; out.patch={ paso:'registrando' }; }\n    else if (btn === 'confirmar_no') { out.wa_payload = txt('Sin problema, empecemos de nuevo. Escríbeme tu nombre completo.'); out.next_paso='esperando_nombre'; out.patch={ paso:'esperando_nombre' }; }\n    else { out.wa_payload = buttons('¿Confirmas tus datos?', [ {id:'confirmar_si',title:'Sí, registrar'}, {id:'confirmar_no',title:'No, corregir'} ]); out.next_paso='esperando_confirmacion'; out.patch={ paso:'esperando_confirmacion' }; }\n    break;\n  }\n  case 'esperando_foto': {\n    if (type === 'image') { out.action='foto'; out.image_id = p.image_id || ''; out.patch={ paso:'procesando' }; }\n    else { out.wa_payload = txt('Por favor envíame la *foto* de tu factura para registrar tu compra y ganar puntos.'); out.next_paso='esperando_foto'; out.patch={ paso:'esperando_foto' }; }\n    break;\n  }\n  case 'esperando_csat': {\n    const n = parseInt(((text||btn)||'').replace(/\\D/g,''), 10);\n    if (n >= 1 && n <= 5) { out.wa_payload = txt('¡Gracias por tu calificación! 🙏 Cuando quieras registrar otro ticket, envíame la foto.'); out.next_paso='finalizado'; out.patch={ paso:'finalizado', datos: Object.assign({}, row.datos||{}, { csat: n }) }; }\n    else { out.wa_payload = txt('Calíficanos del 1 al 5, por favor (solo el número).'); out.next_paso='esperando_csat'; out.patch={ paso:'esperando_csat' }; }\n    break;\n  }\n  case 'finalizado': {\n    if (type === 'image') { out.action='foto'; out.image_id = p.image_id || ''; out.patch={ paso:'procesando' }; }\n    else { out.wa_payload = txt('¿Quieres registrar otro ticket? Envíame la foto de la factura cuando quieras. 📸'); out.next_paso='esperando_foto'; out.patch={ paso:'esperando_foto' }; }\n    break;\n  }\n  case 'buscando':\n  case 'registrando':\n  case 'procesando': {\n    out.wa_payload = txt('Dame un segundo, estoy procesando tu solicitud… ⏳'); out.next_paso = paso; out.patch = {};\n    break;\n  }\n  default: {\n    out.action='buscar'; out.search_by='cellphone'; out.search_query={ cellphone: celular10 };\n    out.patch={ paso:'buscando', celular: from, intentos: 0 };\n  }\n}\n\nif (out.action === 'buscar' && out.search_query) {\n  const BASE = 'https://api.superlikerslabs.com/v1';\n  const apiKey = encodeURIComponent($env.API_KEY || '');\n  let qs = 'api_key=' + apiKey + '&campaign=3z';\n  const sq = out.search_query;\n  const keys = Object.keys(sq);\n  for (let i=0; i<keys.length; i++) {\n    qs += '&query[' + keys[i] + ']=' + encodeURIComponent(sq[keys[i]]);\n  }\n  out.search_url = BASE + '/participants/search?' + qs;\n}\n\nreturn [{ json: out }];\n"
      },
      "id": "856f915d-e5b8-4b3e-bd2f-f9f299204ac9",
      "name": "Decidir",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21008,
        4992
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "618ec0eb-942a-45bb-a30d-3ac631daf995",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "responder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "responder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "28547685-316d-4b78-8fe6-0b33f679103b",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "buscar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "buscar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "61ee2fab-89f6-4702-bb66-7b216f3cb8ab",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "registrar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "registrar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b11c3c16-15c8-416f-8aa0-989be4ad04a5",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "foto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "foto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "fe87d9c8-a4cf-4823-ba66-2ee39ffa2707",
      "name": "Router Acción",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        21216,
        4992
      ]
    },
    {
      "parameters": {
        "jsCode": "// SL Buscar\nconst helpers = this.helpers;\nconst API_KEY = $env.API_KEY;\nconst BASE = 'https://api.superlikerslabs.com/v1';\nconst d = $('Decidir').item.json;\nconst sq = d.search_query || {};\nconst opt = {\n  method: 'GET',\n  url: BASE + '/participants/search',\n  headers: { 'Content-Type': 'application/json', 'Accept': 'application/json', 'Authorization': 'Bearer ' + API_KEY },\n  qs: { campaign: '3z', api_key: API_KEY, query: sq },\n  json: true, returnFullResponse: true, ignoreHttpStatusErrors: true, timeout: 20000\n};\nlet status = null, body = null, err = null;\ntry {\n  const res = await helpers.httpRequest(opt);\n  status = res.statusCode; body = res.body;\n} catch (e) {\n  const r = e.response || {};\n  status = e.statusCode || r.statusCode || null;\n  body = r.body || r.data || null; err = e.message;\n}\nreturn [{ json: { status, body, err, search_query: sq } }];\n"
      },
      "id": "3d0bad01-3d65-4e64-8bd4-c74f695a5462",
      "name": "SL Buscar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21440,
        4864
      ]
    },
    {
      "parameters": {
        "jsCode": "// Procesa la respuesta de SL Buscar\nconst d = $('Decidir').item.json;\nconst from = d.wa_to;\nconst search_by = d.search_by;\nconst sl = $('SL Buscar').item.json || {};\nconst status = sl.status;\nlet resp = sl.body || {};\nlet participant = resp;\nif (resp && resp.object) participant = resp.object;\nelse if (resp && resp.participant) participant = resp.participant;\nelse if (resp && resp.data) participant = Array.isArray(resp.data) ? (resp.data[0]||{}) : resp.data;\nelse if (resp && Array.isArray(resp.participants)) participant = resp.participants[0] || {};\nelse if (Array.isArray(resp)) participant = resp[0] || {};\nconst found = status === 200 && !!(participant && (participant.email || participant.distinct_id || participant.points !== undefined || participant['nombre-completo']));\nfunction txt(body){ return { messaging_product:'whatsapp', to: from, type:'text', text:{ body: body, preview_url:false } }; }\nlet out = { action:'responder', wa_to: from, wa_payload: null, next_paso:'', patch:{}, celular: d.celular, had_row: d.had_row };\nif (found) {\n  const correo = participant.email || participant.distinct_id || (d.search_query && d.search_query.email) || '';\n  out.wa_payload = txt('¡Te encontramos! 🎉 Ya estás registrado en la campaña. Ahora envíame la *foto* de tu factura para registrar tu compra y ganar puntos.');\n  out.next_paso = 'esperando_foto';\n  out.patch = { paso:'esperando_foto', participante_existe: true, correo: correo, distinct_id: correo };\n} else if (search_by === 'cellphone') {\n  out.wa_payload = txt('¡Hola! 👋 Soy el asistente de la campaña. Para empezar y validar tu registro, escríbeme tu *correo electrónico*.');\n  out.next_paso = 'esperando_correo';\n  out.patch = { paso:'esperando_correo', participante_existe: false };\n} else {\n  out.wa_payload = txt('No encontré una cuenta con ese correo, así que vamos a registrarte. 📝 Escríbeme tu *nombre completo*.');\n  out.next_paso = 'esperando_nombre';\n  out.patch = { paso:'esperando_nombre', participante_existe: false };\n}\nreturn [{ json: out }];\n"
      },
      "id": "552cdde2-b645-4e03-910b-9037084262b8",
      "name": "Procesar Búsqueda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21664,
        4864
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superlikerslabs.com/v1/participants",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"api_key\": $env.API_KEY, \"campaign\": \"3z\", \"distinct_id\": $('Cargar Estado').item.json.correo, \"properties\": { \"nombre-completo\": $('Cargar Estado').item.json.nombre, \"cedula\": $('Cargar Estado').item.json.cedula, \"email\": $('Cargar Estado').item.json.correo, \"celular\": ($('Validar y Parsear').item.json.from || '').replace(/^57/, ''), \"ocupacion\": $('Cargar Estado').item.json.ocupacion, \"tags\": ($('Cargar Estado').item.json.tags || ['grupo_1']), \"pais\": \"CO\", \"password\": 'SL-' + Math.random().toString(36).slice(2,12) + 'x9', \"active\": true, \"verified_cellphone\": true, \"not_send_verify_registration\": true } } }}",
        "options": {}
      },
      "id": "3b2b6c4e-4e3c-435d-af8b-b7cde85f2650",
      "name": "SL Registrar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        21440,
        5040
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Procesa la respuesta de POST /participants\nconst d = $('Decidir').item.json;\nconst from = d.wa_to;\nlet resp = {};\ntry { resp = $('SL Registrar').item.json || {}; } catch (e) { resp = {}; }\nconst blob = JSON.stringify(resp).toLowerCase();\nconst created = blob.indexOf('exitosamente') !== -1 || blob.indexOf('creado') !== -1 || !!resp.distinct_id || resp.success === true;\nconst dup = blob.indexOf('ya esta siendo usado') !== -1 || (blob.indexOf('code_error') !== -1 && blob.indexOf('21') !== -1);\nfunction txt(body){ return { messaging_product:'whatsapp', to: from, type:'text', text:{ body: body, preview_url:false } }; }\nlet out = { action:'responder', wa_to: from, wa_payload:null, next_paso:'', patch:{}, celular: d.celular, had_row: d.had_row };\nif (created || dup) {\n  out.wa_payload = txt('¡Listo, quedaste registrado! ✅ Ahora envíame la *foto* de tu factura para registrar tu compra y ganar puntos.');\n  out.next_paso = 'esperando_foto';\n  out.patch = { paso:'esperando_foto', participante_existe: true };\n} else {\n  out.wa_payload = txt('Tuve un problema registrándote. Verifica tus datos e inténtalo de nuevo: escríbeme tu *nombre completo*.');\n  out.next_paso = 'esperando_nombre';\n  out.patch = { paso:'esperando_nombre' };\n}\nreturn [{ json: out }];\n"
      },
      "id": "4b76801a-82be-4c5d-aa80-181d58ac5fb0",
      "name": "Procesar Registro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21664,
        5040
      ]
    },
    {
      "parameters": {},
      "id": "21d3de0e-b5fb-42fa-a9db-0986a3748852",
      "name": "Normalizar Salida",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        21904,
        4992
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $('Validar y Parsear').item.json.phone_number_id + '/messages' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.wa_payload }}",
        "options": {}
      },
      "id": "45665103-5400-4445-8b71-3fa02bf3e158",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        22128,
        4864
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HeBKKvsM1vy1xZ1A",
          "name": "WhatsApp Cloud API - Reto SuperLikers"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mezcla estado previo + patch -> registro final\nconst p = $('Validar y Parsear').item.json;\nconst from = p.from || '';\nlet row = {};\ntry { row = $('Cargar Estado').item.json || {}; } catch (e) { row = {}; }\nconst hadRow = !!(row && row.celular);\nconst cur = $json || {};\nconst patch = cur.patch || {};\nconst nextPaso = patch.paso || cur.next_paso || row.paso || 'inicio';\nfunction pick(k, dflt){ return (patch[k] !== undefined) ? patch[k] : ((row[k] !== undefined && row[k] !== null) ? row[k] : dflt); }\nconst rec = {\n  celular: (from || '').replace(/^57/, ''),\n  paso: nextPaso,\n  distinct_id: pick('distinct_id', null),\n  nombre: pick('nombre', null),\n  correo: pick('correo', null),\n  cedula: pick('cedula', null),\n  ocupacion: pick('ocupacion', null),\n  tags: pick('tags', null),\n  participante_existe: pick('participante_existe', null),\n  id_actividad_foto: pick('id_actividad_foto', null),\n  datos: pick('datos', {}),\n  intentos: pick('intentos', 0),\n  last_activity_at: new Date().toISOString(),\n  had_row: hadRow,\n  wa_payload: cur.wa_payload\n};\nreturn [{ json: rec }];\n"
      },
      "id": "e724a7fa-b9bc-4f2a-91e0-3e25937ccc7d",
      "name": "Preparar Estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22128,
        5120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "467ab1e4-276e-4df2-8cac-dc2a52e96420",
              "leftValue": "={{ $json.had_row }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ba2fdaba-d1d0-41c9-99be-6defdccdfde7",
      "name": "¿Existía?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        22336,
        5120
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "={{ 'conversation_state' }}",
        "filters": {
          "conditions": [
            {
              "keyName": "={{ 'celular' }}",
              "condition": "eq",
              "keyValue": "={{ $json.celular }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "had_row,wa_payload"
      },
      "id": "430d0974-9de8-4768-9fd2-4f8974b5aaca",
      "name": "Guardar Estado (update)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        22560,
        5024
      ],
      "credentials": {
        "supabaseApi": {
          "id": "mMeRwI2wAHHU1NtO",
          "name": "Superlikers"
        }
      }
    },
    {
      "parameters": {
        "tableId": "={{ 'conversation_state' }}",
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "had_row,wa_payload"
      },
      "id": "4d8cff92-874e-4218-8cc6-e087d42fb5ab",
      "name": "Crear Estado (insert)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        22560,
        5232
      ],
      "credentials": {
        "supabaseApi": {
          "id": "mMeRwI2wAHHU1NtO",
          "name": "Superlikers"
        }
      }
    },
    {
      "parameters": {
        "content": "## Verificacion (GET)\nMeta manda GET con hub.challenge + hub.verify_token.\nSe compara contra $env.WHATSAPP_VERIFY_TOKEN y se devuelve el challenge.",
        "height": 260,
        "width": 420,
        "color": 4
      },
      "id": "4d88531b-ea33-42d5-8120-ebcc3eea407d",
      "name": "Nota GET",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        19520,
        4576
      ]
    },
    {
      "parameters": {
        "content": "## Entrada + Firma (POST)\nValidar y Parsear: HMAC-SHA256 (X-Hub-Signature-256) + parseo de texto/boton/lista/imagen.\nAck 200 a Meta ANTES de procesar.",
        "height": 300,
        "width": 620,
        "color": 5
      },
      "id": "ff08d3b0-e5ee-4eb6-98ff-3da242a42fdc",
      "name": "Nota POST",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        19520,
        4944
      ]
    },
    {
      "parameters": {
        "content": "## Maquina de estados (A5)\nCargar Estado (Supabase, working memory) -> Decidir (tabla de transiciones en un solo Code) -> Router por accion.\nResponder | Buscar (celular->email fallback) | Registrar | Foto.\nConverge en Normalizar -> Enviar WhatsApp + persistir estado (update/insert).",
        "height": 260,
        "width": 900,
        "color": 7
      },
      "id": "949733ad-5dce-4d2d-be61-684e2712da05",
      "name": "Nota Maquina",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        20784,
        4640
      ]
    },
    {
      "parameters": {
        "content": "## A6 · Rama de foto (CONSTRUIDA)\nmedia -> Subir Foto (/photos) -> Leer Factura (OpenAI gpt-5.4-mini, Structured Outputs) -> Evaluar -> idempotencia -> /retail/buy + /entries/accept -> log transactions -> confirmar puntos.\nBordes: reintentar (descarga) / Sha1 / ilegible / ref duplicado / execution_error.",
        "height": 240,
        "width": 560,
        "color": 3
      },
      "id": "7079400a-9aec-473a-abad-ff7ac29efe4f",
      "name": "Nota A6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        21376,
        5392
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Decidir').item.json.image_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a8972622-6c76-4947-8965-070daccf2141",
      "name": "A6 · Media (URL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        21450,
        5560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HeBKKvsM1vy1xZ1A",
          "name": "WhatsApp Cloud API - Reto SuperLikers"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "3b31dfff-f5b4-415f-aa78-a27355c126cf",
      "name": "A6 · Descargar Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        21670,
        5560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HeBKKvsM1vy1xZ1A",
          "name": "WhatsApp Cloud API - Reto SuperLikers"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// A6 · Prep IA v6 — gpt-5.4-mini + prompt mejorado para columnas de precio\nconst FACTURA_SYSTEM = \"Eres un asistente que extrae informacion de facturas/recibos de compra a partir de una imagen. Devuelve UNICAMENTE un objeto JSON valido, sin texto adicional, sin explicaciones y sin bloques de codigo markdown.\\\\n\\\\nEstructura exacta a devolver:\\\\n{\\\\n  \\\\\\\"legible\\\\\\\": true,\\\\n  \\\\\\\"ref\\\\\\\": \\\\\\\"<numero de factura>\\\\\\\",\\\\n  \\\\\\\"products\\\\\\\": [\\\\n    { \\\\\\\"ref\\\\\\\": \\\\\\\"<codigo o nombre>\\\\\\\", \\\\\\\"price\\\\\\\": \\\\\\\"<precio unitario>\\\\\\\", \\\\\\\"quantity\\\\\\\": \\\\\\\"<cantidad>\\\\\\\", \\\\\\\"line\\\\\\\": \\\\\\\"<linea>\\\\\\\", \\\\\\\"provider\\\\\\\": \\\\\\\"<proveedor>\\\\\\\" }\\\\n  ]\\\\n}\\\\n\\\\nReglas:\\\\n- ref = numero de la factura o recibo. Busca etiquetas como: Factura, No., Nro, N\\u00b0, Ticket, POS, Consecutivo, CUFE. Devuelvelo tal cual aparece.\\\\n- price = precio UNITARIO de cada producto (lo que cuesta UNA unidad). En facturas con columnas como [cantidad | precio_unitario | codigo | descripcion | total_linea], extrae la segunda columna numerica (precio unitario), NO el total de la linea ni el codigo de barras. Ignora separadores de miles (puntos o comas). Devuelve solo digitos y punto decimal si aplica.\\\\n- quantity = numero de unidades o peso. Solo el valor numerico, sin texto como 'UN', 'KG', 'Kg'.\\\\n- Solo si NO hay numero de factura visible, o la imagen no es una factura, devuelve legible=false con ref vacio y products vacio.\\\\n- line y provider: si no aparecen, usa string vacio. No inventes datos.\\\\n\";\nconst SCHEMA = { name:'factura', strict:true, schema:{\n  type:'object', additionalProperties:false,\n  properties:{\n    legible:{ type:'boolean' },\n    ref:{ type:'string' },\n    products:{ type:'array', items:{\n      type:'object', additionalProperties:false,\n      properties:{ ref:{type:'string'}, price:{type:'string'}, quantity:{type:'string'}, line:{type:'string'}, provider:{type:'string'} },\n      required:['ref','price','quantity','line','provider'] } }\n  },\n  required:['legible','ref','products'] } };\n\nconst d = $('Decidir').first().json;\nlet media_ok = true, b64 = '', mime = 'image/jpeg';\ntry {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  if (!buf || !buf.length) { media_ok = false; } else { b64 = buf.toString('base64'); }\n  const bmeta = $input.item.binary && $input.item.binary.data;\n  if (bmeta && bmeta.mimeType) mime = bmeta.mimeType;\n} catch (e) { media_ok = false; }\n\nlet openai_body = null;\nif (media_ok) {\n  openai_body = {\n    model: 'gpt-5.4-mini',\n    response_format: { type:'json_schema', json_schema: SCHEMA },\n    messages: [\n      { role:'system', content: FACTURA_SYSTEM },\n      { role:'user', content: [\n        { type:'text', text:'Extrae los datos de esta factura. Presta especial atencion al numero de factura (ref) y al precio UNITARIO de cada producto (no el total de la linea).' },\n        { type:'image_url', image_url:{ url:'data:'+mime+';base64,'+b64 } }\n      ]}\n    ]\n  };\n}\nconst out = {\n  media_ok, mime, openai_body,\n  correo: ($('Cargar Estado').first().json.correo) || '',\n  celular: d.celular, celular10: d.celular10, wa_to: d.wa_to, had_row: d.had_row\n};\nreturn [{ json: out, binary: $input.item.binary }];\n"
      },
      "id": "c522402f-483b-459f-bc36-afed528cf537",
      "name": "A6 · Prep IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21890,
        5560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superlikerslabs.com/v1/photos",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "campaign",
              "value": "3z"
            },
            {
              "name": "distinct_id",
              "value": "={{ $('Cargar Estado').item.json.correo }}"
            },
            {
              "name": "title",
              "value": "Ticket de compra"
            },
            {
              "name": "category",
              "value": "tickets"
            },
            {
              "parameterType": "formBinaryData",
              "name": "upload_photo",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "25c36527-1e8d-483c-a384-8114461aa1d2",
      "name": "A6 · Subir Foto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        22110,
        5560
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $('A6 · Prep IA').item.json.openai_body }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "1c4adef8-5095-42d6-a5f0-e69fc76d15de",
      "name": "A6 · Leer Factura (IA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        22330,
        5560
      ],
      "credentials": {
        "openAiApi": {
          "id": "REEMPLAZAR_OPENAI",
          "name": "OpenAI"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// A6 · Evaluar Lectura\nconst photosRaw = $('A6 · Subir Foto').first().json || {};\nlet photos = photosRaw;\nif (typeof photosRaw.data === 'string') { try { photos = JSON.parse(photosRaw.data); } catch(e){ photos = photosRaw; } }\nconst prep = $('A6 · Prep IA').first().json || {};\nconst ai  = $('A6 · Leer Factura (IA)').first().json || {};\n\nconst photoObj = photos.object || photos;\nlet id_actividad_foto =\n  photoObj.id || photoObj._id || photoObj.entry_id ||\n  photoObj.activity_id || photoObj.entry || photoObj.photo_id || '';\nif (!id_actividad_foto && photos.image_url) {\n  const m = (photos.image_url || '').match(/upload-photo\\/([a-f0-9]{24})\\//i);\n  if (m) id_actividad_foto = m[1];\n}\n\nconst photosBlob = JSON.stringify(photosRaw).toLowerCase();\nconst sha1_dup   = photosBlob.indexOf('sha1') !== -1 && photosBlob.indexOf('taken') !== -1;\nconst media_ok   = prep.media_ok !== false;\n\nlet parsed = { legible:false, ref:'', products:[] };\ntry {\n  const content = (((ai.choices||[])[0]||{}).message||{}).content || '';\n  parsed = JSON.parse(content);\n} catch(e) { parsed = { legible:false, ref:'', products:[] }; }\n\nconst ref_raw  = (parsed.ref || '').toString().trim();\nconst ref_norm = ref_raw.replace(/\\D/g, '') || ref_raw.replace(/\\s+/g,'').toUpperCase();\nconst ref      = ref_norm;\n\nconst products = Array.isArray(parsed.products) ? parsed.products : [];\nconst legible  = parsed.legible === true && ref !== '' && products.length > 0;\n\nlet outcome;\nif (!media_ok)    outcome = 'reintentar';\nelse if (sha1_dup) outcome = 'foto_duplicada';\nelse if (!legible) outcome = 'ilegible';\nelse               outcome = 'comprar';\n\nreturn [{ json: { outcome, id_actividad_foto, ref, ref_raw, products,\n  image_url: (photos.image_url||''),\n  correo: prep.correo, celular: prep.celular, celular10: prep.celular10,\n  wa_to: prep.wa_to, had_row: prep.had_row } }];\n"
      },
      "id": "0bca0255-dd0b-42b6-8972-0d0e3ba43e3f",
      "name": "A6 · Evaluar Lectura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22550,
        5560
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "739023fc-0cc4-423e-ba6a-7b2cd92334cd",
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "reintentar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reintentar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "10fab079-a69f-4e71-9393-d72013081d46",
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "foto_duplicada",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "foto_duplicada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd2d1a06-b887-4ddc-924b-a717686f281f",
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "ilegible",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ilegible"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6d5c2335-811e-4e81-9a54-5feff18b0f83",
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "comprar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "comprar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "3b53f464-342a-40c5-9f9f-9a5e9fb3bb3d",
      "name": "A6 · Outcome",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        22770,
        5560
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "transactions",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "ref_factura",
              "condition": "eq",
              "keyValue": "={{ $('A6 · Evaluar Lectura').item.json.ref }}"
            },
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "completada"
            }
          ]
        }
      },
      "id": "80d4fe5c-2309-43dc-9734-7d5ad39216b0",
      "name": "A6 · Idempotencia",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        22990,
        5520
      ],
      "credentials": {
        "supabaseApi": {
          "id": "mMeRwI2wAHHU1NtO",
          "name": "Superlikers"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9342caf3-d863-470c-8489-71319deb2e15",
              "leftValue": "={{ $json.ref_factura }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5f42e4cd-0ed8-4548-8213-2f118477e8e5",
      "name": "A6 · ¿Ref ya registrada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        23210,
        5520
      ]
    },
    {
      "parameters": {
        "jsCode": "// A6 · Comprar + Aceptar — POST /retail/buy + POST /entries/accept\nconst helpers = this.helpers;\nconst API_KEY = $env.API_KEY;\nconst BASE = 'https://api.superlikerslabs.com/v1';\nconst ev = $('A6 · Evaluar Lectura').first().json;\nconst correo = $('Cargar Estado').first().json.correo;\nconst ref = ev.ref, products = ev.products, id_actividad_foto = ev.id_actividad_foto;\n\nlet buyStatus=null, buyBody=null, points=0, buyErr=null, buy_ok=false, ya_registrada=false;\ntry {\n  const r = await helpers.httpRequest({ method:'POST', url:BASE+'/retail/buy',\n    headers:{ 'Authorization':'Bearer '+API_KEY, 'Content-Type':'application/json' },\n    body:{ api_key:API_KEY, campaign:'3z', distinct_id:correo, ref:ref, products:products },\n    json:true, returnFullResponse:true, ignoreHttpStatusErrors:true, timeout:30000 });\n  buyStatus=r.statusCode; buyBody=r.body;\n  buy_ok = (buyStatus >= 200 && buyStatus < 300);\n  const bobj = (buyBody && buyBody.object) ? buyBody.object : (buyBody||{});\n  if (bobj && bobj.invoice && bobj.invoice.points != null) points = bobj.invoice.points;\n  else if (bobj && bobj.points != null) points = bobj.points;\n  const bblob = JSON.stringify(buyBody||{}).toLowerCase();\n  ya_registrada = !buy_ok && (bblob.indexOf('ya') !== -1 && (bblob.indexOf('registr') !== -1 || bblob.indexOf('usad') !== -1 || bblob.indexOf('existe') !== -1)) || (buyStatus === 422);\n} catch (e) { buyErr = e.message; }\n\nlet accStatus=null, accBody=null, execution_error=false, accErr=null;\nif (buy_ok) {\n  try {\n    const r2 = await helpers.httpRequest({ method:'POST', url:BASE+'/entries/accept',\n      headers:{ 'Authorization':'Bearer '+API_KEY, 'Content-Type':'application/json' },\n      body:{ api_key:API_KEY, campaign:'3z', id:id_actividad_foto },\n      json:true, returnFullResponse:true, ignoreHttpStatusErrors:true, timeout:30000 });\n    accStatus=r2.statusCode; accBody=r2.body;\n    const ablob = JSON.stringify(accBody||{}).toLowerCase();\n    execution_error = ablob.indexOf('execution_error') !== -1;\n  } catch (e) { accErr = e.message; execution_error = true; }\n}\n\nreturn [{ json: { points: Number(points)||0, buy_ok, ya_registrada, execution_error,\n  ref, id_actividad_foto, correo,\n  celular: ev.celular, celular10: ev.celular10, wa_to: ev.wa_to, had_row: ev.had_row,\n  buyStatus, accStatus, buyErr, accErr } }];\n"
      },
      "id": "40318cce-60ae-4fe6-858f-5b1943f74c06",
      "name": "A6 · Comprar + Aceptar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23430,
        5560
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $('A6 · Comprar + Aceptar').first().json;\nconst from = r.wa_to;\nconst correo = $('Cargar Estado').first().json.correo || '';\nconst pts = r.points || 0;\nfunction txt(b){ return { messaging_product:'whatsapp', to:from, type:'text', text:{ body:b, preview_url:false } }; }\nreturn [{ json: { action:'responder', wa_to:from,\n  wa_payload: txt('🎉 ¡Listo! Tu factura fue registrada y ganaste ' + pts + ' puntos. Ya están en tu cuenta.\\n\\n¿Qué tan fácil te resultó? Calíficame del 1 al 5 (solo el número). 🙏'),\n  next_paso:'esperando_csat', patch:{ paso:'esperando_csat', id_actividad_foto: r.id_actividad_foto },\n  celular: r.celular, had_row: r.had_row,\n  tx:{ celular: r.celular10, correo: correo, ref_factura: r.ref, puntos: pts, estado:'completada', id_actividad_foto: r.id_actividad_foto, error_type: null } } }];\n"
      },
      "id": "67001344-3d47-4408-aa0a-80e44b78ee8f",
      "name": "A6 · Msg Completada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23870,
        5500
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $('A6 · Comprar + Aceptar').first().json;\nconst from = r.wa_to;\nconst correo = $('Cargar Estado').first().json.correo || '';\nfunction txt(b){ return { messaging_product:'whatsapp', to:from, type:'text', text:{ body:b, preview_url:false } }; }\nreturn [{ json: { action:'responder', wa_to:from,\n  wa_payload: txt('Recibí tu factura y registré la compra ✅, pero la aprobación final quedó en revisión manual. Te confirmamos los puntos muy pronto. 🙏'),\n  next_paso:'revision_manual', patch:{ paso:'revision_manual', id_actividad_foto: r.id_actividad_foto },\n  celular: r.celular, had_row: r.had_row,\n  tx:{ celular: r.celular10, correo: correo, ref_factura: r.ref, puntos: r.points || 0, estado:'error', id_actividad_foto: r.id_actividad_foto || null, error_type:'execution_error' } } }];\n"
      },
      "id": "d87849a4-95ef-49fa-ba3e-23fc0f705087",
      "name": "A6 · Msg Revisión",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23870,
        5660
      ]
    },
    {
      "parameters": {
        "jsCode": "const ev = $('A6 · Evaluar Lectura').first().json;\nconst from = ev.wa_to;\nconst correo = $('Cargar Estado').first().json.correo || '';\nfunction txt(b){ return { messaging_product:'whatsapp', to:from, type:'text', text:{ body:b, preview_url:false } }; }\nreturn [{ json: { action:'responder', wa_to:from,\n  wa_payload: txt('Esta factura (' + ev.ref + ') ya generó puntos antes, no puedo registrarla de nuevo. Si tienes otra compra, envíame su foto. 🧾'),\n  next_paso:'esperando_foto', patch:{ paso:'esperando_foto' },\n  celular: ev.celular, had_row: ev.had_row,\n  tx:{ celular: ev.celular10, correo: correo, ref_factura: ev.ref, puntos: 0, estado:'duplicada', id_actividad_foto: ev.id_actividad_foto || null, error_type:'ref_duplicado' } } }];\n"
      },
      "id": "c2dd607d-7a1e-4e35-ab36-96bd007a7256",
      "name": "A6 · Msg Duplicada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23430,
        5760
      ]
    },
    {
      "parameters": {
        "jsCode": "const ev = $('A6 · Evaluar Lectura').first().json;\nconst from = ev.wa_to;\nconst correo = $('Cargar Estado').first().json.correo || '';\nfunction txt(b){ return { messaging_product:'whatsapp', to:from, type:'text', text:{ body:b, preview_url:false } }; }\nconst intentos = (($('Cargar Estado').first().json.intentos)||0) + 1;\nreturn [{ json: { action:'responder', wa_to:from,\n  wa_payload: txt('No pude leer bien la factura 😕. Asegúrate de que se vea completa, con buena luz y sin reflejos, y que se note el número de factura. Envíame otra foto.'),\n  next_paso:'esperando_foto', patch:{ paso:'esperando_foto', intentos:intentos },\n  celular: ev.celular, had_row: ev.had_row,\n  tx:{ celular: ev.celular10, correo: correo, ref_factura: null, puntos: 0, estado:'error', id_actividad_foto: ev.id_actividad_foto || null, error_type:'factura_ilegible' } } }];\n"
      },
      "id": "5d83d411-af7d-4d9a-9524-76e3c9d3cf2b",
      "name": "A6 · Msg Ilegible",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22990,
        5760
      ]
    },
    {
      "parameters": {
        "jsCode": "const ev = $('A6 · Evaluar Lectura').first().json;\nconst from = ev.wa_to;\nconst correo = $('Cargar Estado').first().json.correo || '';\nfunction txt(b){ return { messaging_product:'whatsapp', to:from, type:'text', text:{ body:b, preview_url:false } }; }\nreturn [{ json: { action:'responder', wa_to:from,\n  wa_payload: txt('Esta foto ya fue registrada antes 🧾. Si tienes otra factura, envíame su foto.'),\n  next_paso:'esperando_foto', patch:{ paso:'esperando_foto' },\n  celular: ev.celular, had_row: ev.had_row,\n  tx:{ celular: ev.celular10, correo: correo, ref_factura: null, puntos: 0, estado:'duplicada', id_actividad_foto: ev.id_actividad_foto || null, error_type:'sha1_duplicado' } } }];\n"
      },
      "id": "aceee84c-0179-4f51-8935-2bf6ec388ec6",
      "name": "A6 · Msg Foto Duplicada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22990,
        5900
      ]
    },
    {
      "parameters": {
        "jsCode": "const ev = $('A6 · Evaluar Lectura').first().json;\nconst from = ev.wa_to;\nfunction txt(b){ return { messaging_product:'whatsapp', to:from, type:'text', text:{ body:b, preview_url:false } }; }\nconst intentos = (($('Cargar Estado').first().json.intentos)||0) + 1;\nreturn [{ json: { action:'responder', wa_to:from,\n  wa_payload: txt('No pude descargar tu foto 😔. ¿Me la reenvías, por favor? 📸'),\n  next_paso:'esperando_foto', patch:{ paso:'esperando_foto', intentos:intentos },\n  celular: ev.celular, had_row: ev.had_row } }];\n"
      },
      "id": "2f494a4a-4d4e-4c24-9ccb-8c6818a948ae",
      "name": "A6 · Msg Reintentar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22990,
        6040
      ]
    },
    {
      "parameters": {},
      "id": "452dd4fd-8477-4073-8a6e-68e4c8823111",
      "name": "A6 · Converge",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        24120,
        5640
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "transactions",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "celular",
              "fieldValue": "={{ $json.tx.celular }}"
            },
            {
              "fieldId": "correo",
              "fieldValue": "={{ $json.tx.correo }}"
            },
            {
              "fieldId": "ref_factura",
              "fieldValue": "={{ $json.tx.ref_factura }}"
            },
            {
              "fieldId": "puntos",
              "fieldValue": "={{ $json.tx.puntos }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.tx.estado }}"
            },
            {
              "fieldId": "id_actividad_foto",
              "fieldValue": "={{ $json.tx.id_actividad_foto }}"
            },
            {
              "fieldId": "error_type",
              "fieldValue": "={{ $json.tx.error_type }}"
            }
          ]
        }
      },
      "id": "1fd3a555-1317-44b5-97ae-b4437bb2dd09",
      "name": "A6 · Log Transaction",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        24340,
        5560
      ],
      "credentials": {
        "supabaseApi": {
          "id": "mMeRwI2wAHHU1NtO",
          "name": "Superlikers"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e94aa76e-b6ab-493b-bb71-53860a2a4c2a",
                    "leftValue": "={{ $json.ya_registrada }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ya_registrada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "210696ba-d9c0-4100-b640-d934fe1e4caf",
                    "leftValue": "={{ $json.buy_ok && !$json.execution_error }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "65f8b48b-bad9-4717-9394-17fec218aa0b",
                    "leftValue": "={{ $json.buy_ok && $json.execution_error }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "revision"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "71b70f6e-8198-40d8-bdf0-8a25d09467e2",
      "name": "A6 · Resultado Compra",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        23650,
        5560
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $('A6 · Comprar + Aceptar').first().json;\nconst from = r.wa_to;\nconst correo = $('Cargar Estado').first().json.correo || '';\nfunction txt(b){ return { messaging_product:'whatsapp', to:from, type:'text', text:{ body:b, preview_url:false } }; }\nreturn [{ json: { action:'responder', wa_to:from,\n  wa_payload: txt('Esta factura ya había sido registrada antes 🧾, así que no genera puntos nuevos. Si tienes otra compra, envíame su foto.'),\n  next_paso:'esperando_foto', patch:{ paso:'esperando_foto' },\n  celular: r.celular, had_row: r.had_row,\n  tx:{ celular: r.celular10, correo: correo, ref_factura: r.ref, puntos: 0, estado:'duplicada', id_actividad_foto: r.id_actividad_foto || null, error_type:'ref_duplicado' } } }];\n"
      },
      "id": "8502eb94-6256-4f2d-9229-3ffecc8bdd14",
      "name": "A6 · Msg Ya Registrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23870,
        5740
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Verify (GET)": {
      "main": [
        [
          {
            "node": "Token Correcto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Correcto?": {
      "main": [
        [
          {
            "node": "Responder Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rechazar GET 403",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Recibe (POST)": {
      "main": [
        [
          {
            "node": "Validar y Parsear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y Parsear": {
      "main": [
        [
          {
            "node": "Firma Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firma Valida?": {
      "main": [
        [
          {
            "node": "Es Mensaje?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rechazar Firma 403",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Mensaje?": {
      "main": [
        [
          {
            "node": "Responder 200 OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack 200 (estado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder 200 OK": {
      "main": [
        [
          {
            "node": "Cargar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Estado": {
      "main": [
        [
          {
            "node": "Decidir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decidir": {
      "main": [
        [
          {
            "node": "Router Acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Acción": {
      "main": [
        [
          {
            "node": "Normalizar Salida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SL Buscar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SL Registrar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A6 · Media (URL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SL Buscar": {
      "main": [
        [
          {
            "node": "Procesar Búsqueda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Búsqueda": {
      "main": [
        [
          {
            "node": "Normalizar Salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SL Registrar": {
      "main": [
        [
          {
            "node": "Procesar Registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Registro": {
      "main": [
        [
          {
            "node": "Normalizar Salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Salida": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Estado": {
      "main": [
        [
          {
            "node": "¿Existía?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existía?": {
      "main": [
        [
          {
            "node": "Guardar Estado (update)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear Estado (insert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Media (URL)": {
      "main": [
        [
          {
            "node": "A6 · Descargar Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Descargar Media": {
      "main": [
        [
          {
            "node": "A6 · Prep IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Prep IA": {
      "main": [
        [
          {
            "node": "A6 · Subir Foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Subir Foto": {
      "main": [
        [
          {
            "node": "A6 · Leer Factura (IA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Leer Factura (IA)": {
      "main": [
        [
          {
            "node": "A6 · Evaluar Lectura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Evaluar Lectura": {
      "main": [
        [
          {
            "node": "A6 · Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Outcome": {
      "main": [
        [
          {
            "node": "A6 · Msg Reintentar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A6 · Msg Foto Duplicada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A6 · Msg Ilegible",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A6 · Idempotencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Idempotencia": {
      "main": [
        [
          {
            "node": "A6 · ¿Ref ya registrada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · ¿Ref ya registrada?": {
      "main": [
        [
          {
            "node": "A6 · Msg Duplicada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A6 · Comprar + Aceptar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Comprar + Aceptar": {
      "main": [
        [
          {
            "node": "A6 · Resultado Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Msg Reintentar": {
      "main": [
        [
          {
            "node": "Normalizar Salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Msg Foto Duplicada": {
      "main": [
        [
          {
            "node": "A6 · Converge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Msg Ilegible": {
      "main": [
        [
          {
            "node": "A6 · Converge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Msg Duplicada": {
      "main": [
        [
          {
            "node": "A6 · Converge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Msg Completada": {
      "main": [
        [
          {
            "node": "A6 · Converge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Msg Revisión": {
      "main": [
        [
          {
            "node": "A6 · Converge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Converge": {
      "main": [
        [
          {
            "node": "A6 · Log Transaction",
            "type": "main",
            "index": 0
          },
          {
            "node": "Normalizar Salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Resultado Compra": {
      "main": [
        [
          {
            "node": "A6 · Msg Ya Registrada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A6 · Msg Completada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A6 · Msg Revisión",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A6 · Msg Revisión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A6 · Msg Ya Registrada": {
      "main": [
        [
          {
            "node": "A6 · Converge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "075f23d8-5b92-4f6e-8588-2478471449ff",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "c6a0f9354bcd0da44397209ccd0f14d2b8438d71a6cd4b99d332f0b62dd6868f"
  },
  "id": "hMUrIGCkq3qmUrA2",
  "tags": []
}